.cabeçalho_meu-hanburguer {
    width: 24px;
    height: 24px;

    background-image: url(../images/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;
}

.cabecalho {
    background-color: white;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container-imagem {
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container_botao:checked~.lista_menu {
    display: block;
}

.lista_menu_titulo, .lista_menu_item {
    padding: 1em;
    background-color: white;
}

.lista_menu_titulo {
    color: orange;
    font-weight: 700;
}

.lista_menu_link {
    background: dodgerblue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao,
.container_titulo,
.opcoes,
.container_texto {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container_titulo,
    .container_titulo-negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo-negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex; 
    }

    .opcoes_item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes_link {
        text-decoration: none;
        color: black;
    }

    .container_imagem-transparente,
    .cabeçalho_meu-hanburguer, 
    .opcoes_botao,
    .container_texto {
        display: none;
    }

    .opcoes_botao:checked ~ .lista_menu {
        display: block;
        width: auto;
    }
    
}

@media screen and (min-width: 1280px) {
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container_texto {
        display: block;
    }
}