.topicos {
    background: var(--azul--gradiente);
    text-align: center;
    padding: 1em 0;
}

.topicos_titulo {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.topicos_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos_item {
    margin: 2em 0.5em;
}

.topicos_link {
    color: white;
    padding: 1em;
    background-color: orange;
    text-decoration: none;
    font-weight: 700;
}