@import url("css/header.css");
@import url("css/banner.css");
@import url("css/carrossel.css");

:root {
    --font--principal: "Poppins";

    --azul--gradiente: linear-gradient( to right, rgb(19, 6, 69) 50%, rgb(30, 6, 102), rgb(32, 11, 118), blue );
}

body {
    background-color: darkgrey;
    font-family: var(--font--principal);
    font-size: 16px;
    font-weight: 400;
}
